<div class="panel panel-default">
  <!--<div class="panel-header">
    <h4>Absences</h4>
  </div>-->

  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Approved?</th>
          <th>Approver</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let absence of absences">
          <td>{{ absence.startDate | date:'dd/MM/yy' }}</td>
          <td>{{ absence.endDate | date:'dd/MM/yy' }}</td>
          <td>{{ absence.approval }}</td>
          <td>{{ absence.approver }}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>