<div class="panel panel-default">
    <div class="alert alert-danger" *ngIf="errorMessage !== ''">
      {{ errorMessage }}
    </div>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Approved?</th>
          <th>Approver</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let absence of absences" [class.pending]="absence.approval == 'Pending'" [class.declined]="absence.approval == 'Declined'">
          <td>{{ absence.startDate | date:'dd/MM/yyyy' }}</td>
          <td>{{ absence.endDate | date:'dd/MM/yyyy' }}</td>
          <td>{{ absence.approval }}</td>
          <td>{{ absence.approver }}</td>
          <td><a href="#" (click)="removeAbsence(absence.id)">Remove</a></td>
        </tr>
      </tbody>
    </table>
  </div>